/* cyrillic */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v4/7cHmv4okm5zmbtYsK-4E4Q.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v4/7cHmv4okm5zmbtYmK-4E4Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v4/7cHmv4okm5zmbtYoK-4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    padding-bottom: 280px;
    position: relative;
}

* {
    font-family: 'Exo 2', sans-serif;
}

.navbar.navbar-light {
    padding: 0.05rem 1rem;
    position: relative;
    height: 400px;
    align-items: flex-start;
    background-image: url(../images/jumbo.png);
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: cover;
    background-color: #000;
    margin-bottom: 20px;
    transition: all;

    .navbar-nav {
        width: 100%;
        justify-content: center;
        padding-right: 15rem;

        .nav-item {
            padding: 0 20px;
            
            &:last-child {
                padding: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1.5);
            }
        }

        .nav-link {
            color: #fff;
            transition: color .3s ease-out;

            &:hover {
                color: #fff;
            }
        }
    }

    .navbar-toggler {
        color: #fff;
        border-color: #fff;
        transition: color .3s ease-out, border-color .3s ease-out;
        outline: 0;
        cursor: pointer;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            transition: background-image .3s ease-out;
        }
        
        &.collapsed {
            color: #bfbfbf;
            border-color: #bfbfbf;

            &:hover {
                color: #fff;
                border-color: #fff;
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#bfbfbf' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                transition: background-image .3s ease-out;
            }
        }
    }

    .form-control {
        border-bottom-color: #fff;

        &::placeholder {
            color: #fff;
        }

        &:focus {
            color: #fff;
        }
    }
    
    .search-btn, .search-btn-focused {
        &:before {
            color: #fff;
        }
    }
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &-image {
        width: 80px;
        filter: drop-shadow(5px 5px 5px #222);
    }

    &-slogan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        margin-left: 10px;
        
        h1 {
            font-size: 2rem;
            margin-bottom: 0.25rem;
        }

        &--text {
            font-size: 0.7em;
        }
    }
}

.navbar-search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .form-control {
        width: 100%;
        margin: 0 !important;
        padding: 0.375rem 1.25rem 0.375rem 0.75rem;
    }

    .search-btn {
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: none;
        background: transparent;
        color: transparent;
        position: absolute;
        right: 5px;
        padding: 0;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        &:before {
            color: #808080;
            content: '\f002';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            width: 100%;
            display: block;
            position: absolute;
            transition: color .3s ease-out;
        }
    }

    .search-btn-focused, .search-btn-focused.search-btn-hovered {
        &:before {
            color: #fff;
        }
    }
    
    .search-btn-hovered {
        &:before {
            color: #fff;
        }
    }
}

.form-control {
    background-color: transparent;
    border-bottom: 1px solid #808080;
    color: #808080;
    transition: color .3s ease-out, border-bottom .3s ease-out;
    
    &::placeholder {
        color: #808080;
        transition: color .3s ease-out;
    }
    
    &:hover {
        color: #bfbfbf;
        border-bottom-color: #bfbfbf;

        &::placeholder {
            color: #bfbfbf;
        }
    }

    &:focus, &:-webkit-autofill {
        background-color: transparent;
        border-color: transparent;
        border-bottom: 1px solid #00bc8c;
        box-shadow: none;
        color: #00bc8c;
    
        &::placeholder {
            color: #00bc8c;
        }
    }
}

.container-fluid {
    width: 50%;
    margin: auto;
    
    .main-feed {
    
        .card-img {
            max-width: 500px;
        }
    }
}

.form-signin-heading, .form-signin-subheading {
    text-align: center;
}

.form-signin-subheading {
    margin-bottom: 20px;
}

.btn-submit, .btn-login {
    background-color: #00af83;
    width: 100%;

    &:hover {
        background-color: #009670 !important;
    }
    
    &:active {
        background-color: #00694f !important;
    }
}

.btn-signup {
    background-color: #007e99;
    width: 100%;

    &:hover {
        background-color: #00677e !important;
    }
    
    &:active {
        background-color: #005568 !important;
    }
}

.form-signup, .form-signin {
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 10px;
    }
}

.meme-footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    height: 240px;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    width: 100%;
}

.footer-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88%;
    padding: 0 2rem;

    .footer-brand, .authors-info {
        width: 35%;
    }

    .footer-brand-link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-image {
            width: 120px;
            filter: drop-shadow(5px 5px 5px #222);
        }

        &-slogan {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;
            margin-left: 10px;
            
            h1 {
                font-size: 2rem;
                margin-bottom: 0.25rem;
            }

            &--text {
                font-size: 1em;
            }
        }
    }
}

.footer-copyright {
    height: 12%;
    text-align: center;
}

@media (min-width: 1280px) and (max-width: 1900px) {
    .navbar .navbar-light {
        height: 350px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .navbar .navbar-light {
        height: 300px;
    }
}


@media (min-width: 992px) {
    .navbar > .navbar-search-form {
        display: none;
    }

    .navbar-search-form {
        width: 16rem;
    }

    .navbar-collapse {
        padding: 1.2rem 0;
    }
}

@media (max-width: 991px) {
    .navbar.navbar-light {
        align-items: center;
        min-height: 100px;
        height: auto;

        .navbar-nav {
            padding: 0;

            .nav-item {
                padding: 0;

                &:last-child {
                    position: relative;
                }
            }
        }
    }

    .navbar-collapse {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        .navbar-search-form {
            display: none;
        }
    }

    .navbar-search-form {
        width: 16rem;
    }
}

@media (max-width: 767px) {
    .navbar > .navbar-search-form {
        display: none;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .navbar-brand-slogan {
        h1 {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 360px) {
    .navbar.navbar-light {
        .navbar-toggler {
            padding: 0.25rem 0.5rem;
        }
    }
    .navbar-brand-slogan {
        h1 {
            font-size: 1.5rem;
        }
    }
}