@(user: UserWithId)


@*<div id="fileContent">*@
    @*<label for="imageField">Attach video or image</label>*@
    @*<div class="input-group mb-2">*@
        @*<div class="custom-file">*@
            @*<input type="file" accept="image/*,video/*" class="custom-file-input" id="imageField" aria-describedby="fileHelp">*@
            @*<label class="custom-file-label" for="imageField">Choose file</label>*@
        @*</div>*@
    @*</div>*@
@*</div>*@

@*<div id="textContent">*@
    @*<label for="textField">Input Your Text</label>*@
    @*<textarea class="form-control" id="textField" rows="3"></textarea>*@
@*</div>*@

@*<div id="htmlContent">*@
    @*<label for="htmlField">Input Your Text</label>*@
    @*<textarea class="form-control" id="htmlField" rows="3"></textarea>*@
@*</div>*@

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("libs/css/bootstrap.min.css")'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("css/meme-factory.css")'>
        <title>Meme Factory</title>
    </head>
    <body>
        <div class="navbar-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img class="navbar-brand-image" src='@routes.Assets.versioned("images/brand-logo.png")' alt="Meme-factory logo">
            
                    <div class="navbar-brand-slogan">
                        <h1>Meme Factory</h1>
                        <span class="navbar-brand-slogan--text">Inspire. Create. Post.</span>
                    </div>
                </a>
            
                <form class="form-inline navbar-search-form">
                    <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="search-btn" type="submit">Search</button>
                </form>
            
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item user-nav-item">
                            <div class="user-panel" id="sidebar" role="navigation">
                                <div class="user-image">
                                    <img src="@routes.UserController.avatarResource(user.id)" />
                                </div>
                                <div class="user-menu">
                                    <div class="user-login">@{user.login}</div>
                                    <ul class="user-actions-list">
                                        <li><a class="user-panel-link" href="@routes.UserController.update()">Settings</a></li>
                                        <li><a class="user-panel-link" href="@routes.UserController.signOut()">SignOut</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.hottest(1)">Hottest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.latest(1)">Latest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.createPost()">New Post</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline navbar-search-form">
                                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                                <button class="search-btn" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            <h2 class="form-signin-heading">Create Post:</h2>
            
            <form class="form-signup" id="newPostForm" action="/newPostForm" method="post" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="titleField" class="sr-only">Title</label>
                    <input type="text" id="titleField" name="titleField" class="form-control" placeholder="Title" required
                        autofocus>
                </div>
            </form>

            <div class="add-field-section">
                <select class="form-control" name="field-types-list" id="fieldTypesList">
                    <option value="default" selected>Please choose the type of field to add</option>
                    <option value="text">Text</option>
                    <option value="file">Multimedia file</option>
                    <option value="html">Existing HTML</option>
                </select>
            
                <div class="add-field-button" id="addFieldButton" title="Add field"></div>
            </div>

            <input class="btn btn-lg btn-block btn-create-post" type="submit" form="newPostForm" value="Create">
        </div>

        <footer class="meme-footer">
            <div class="footer-inner-wrapper">
                <div class="footer-brand">
                    <a class="footer-brand-link" href="#">
                        <img class="footer-brand-link-image" src='@routes.Assets.versioned("images/brand-logo.png")' alt="Meme-factory logo">
        
                        <div class="footer-brand-link-slogan">
                            <span class="footer-brand-link-slogan--text">Inspire. Create. Post.</span>
                        </div>
                    </a>
                </div>
        
                <hr>
        
                <div class="authors-section">
                    <div class="title">About Authors</div>
        
                    <div class="authors-info">
                        <div class="author-one">
                            <div class="image">
                                <img src='@routes.Assets.versioned("images/author-logo.jpg")' alt="First author">
                            </div>
                            <div class="info">
                                <h4>Alexander Liubymov</h4>
                                <div>Back-end "Scala" Ninja</div>
                            </div>
                        </div>
        
                        <div class="author-two">
                            <div class="image">
                                <img src='@routes.Assets.versioned("images/author-logo1.jpg")' alt="Second author">
                            </div>
                            <div class="info">
                                <h4>Vadym Hrynishyn</h4>
                                <div>Front-end "JS" Killa</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-copyright">&copy; 2018 Alexander Liubymov &amp; Vadym Hrynishyn <br> All Rights Reserved</div>
        </footer>

        <script src='@routes.Assets.versioned("libs/js/jquery-3.3.1.min.js")'></script>
        <script src='@routes.Assets.versioned("libs/js/bootstrap.min.js")'></script>
        <script src='@routes.Assets.versioned("js/meme-factory.js")'></script>
        <script src='@routes.Assets.versioned("js/create-meme.js")'></script>
    </body>
</html>
