@(user: UserWithId)


@*<div id="fileContent">*@
    @*<label for="imageField">Attach video or image</label>*@
    @*<div class="input-group mb-2">*@
        @*<div class="custom-file">*@
            @*<input type="file" accept="image/*,video/*" class="custom-file-input" id="imageField" aria-describedby="fileHelp">*@
            @*<label class="custom-file-label" for="imageField">Choose file</label>*@
        @*</div>*@
    @*</div>*@
@*</div>*@

@*<div id="textContent">*@
    @*<label for="textField">Input Your Text</label>*@
    @*<textarea class="form-control" id="textField" rows="3"></textarea>*@
@*</div>*@

@*<div id="htmlContent">*@
    @*<label for="htmlField">Input Your Text</label>*@
    @*<textarea class="form-control" id="htmlField" rows="3"></textarea>*@
@*</div>*@

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("libs/css/bootstrap.min.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("css/meme-factory.min.css")'>
        <title>Meme Factory</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Meme Factory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.hottest()">Hottest</a></li>
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.latest()">Latest</a></li>
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.createPost()">New Post</a></li>
                </ul>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        
        </nav>


        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                    <p>@{user.login}</p>
                    <br>
                    <img src="@routes.UserController.avatarResource(user.id)" width="128" height="128"/>
                    <br>
                    <a href="@routes.UserController.update()">Settings</a>
                    <br>
                    <a href="@routes.UserController.signOut()">SignOut</a>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <div class="container">
                        <h2 class="form-signin-heading">Create Post:</h2>
                        <form class="form-signup" action="/newPostForm" method="post" role="form" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="titleField" class="sr-only">Title</label>
                                <input type="text" id="titleField" name="titleField" class="form-control" placeholder="Title" required autofocus>
                            </div>

                        <div class="form-group">
                            <label for="imageField">Attach video or image</label>
                            <input type="file" accept="image/*,video/*,audio/mpeg" name="imageField" class="form-control-file" id="imageField" aria-describedby="fileHelp">
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create">
                    </form>

                </div>
                </div>
            </div>
        </div>

        <script></script>
    </body>
</html>
