@(memeList: List[MemeItemWithId], user: Option[UserWithId] = None)

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("libs/css/bootstrap.min.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("css/meme-factory.min.css")'>
        <title>Meme Factory</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Meme Factory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.hottest()">Hottest</a></li>
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.latest()">Latest</a></li>
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.createPost()">New Post</a></li>
                </ul>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        
        </nav>

        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                    @user match {
                        case Some(u) => {
                            <p>@{u.login}</p>
                            <br>
                            <img src="@routes.UserController.avatarResource(u.id)" width="128" height="128"/>
                            <br>
                            <a href="@routes.UserController.update()">Settings</a>
                            <br>
                            <a href="@routes.UserController.signOut()">SignOut</a>
                        }
                        case None => {
                            <div class="nav flex-column nav-pills" aria-orientation="vertical">
                                <a class="nav-link" data-toggle="pill" href="@routes.UserController.login()" aria-selected="false">Login</a>
                                <a class="nav-link" data-toggle="pill" href="@routes.UserController.register()" aria-selected="false">Register</a>
                            </div>
                        }
                    }
                </div>
                <div class="col-xs-12 col-sm-10">
                @for(meme <- memeList) {
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
                                <form method="post" target="hiddenFrame">
                                    <input class="btn btn-primary" type="submit" name="+" value="+" formaction="@routes.FeedController.upVotePost(meme.id)"  />
                                    <input class="btn btn-primary" type="submit" name="-" value="-" formaction="@routes.FeedController.downVotePost(meme.id)"/>
                                    Points: @{meme.points}
                                </form>
                            </div>
                            <h5 class="card-title"> <a href="@routes.FeedController.post(meme.id)">@{ meme.title }</a></h5>
                            @for(c <- meme.content.sortWith(_.num < _.num)) {
                                @c.contentType match {
                                    case "TEXT" => { <p class="card-text"> @{ c.content } </p> }
                                    case "HTML" => { @{ c.content } }
                                    case tt if ContentTypes.isImage(tt) => { <img class="card-img" src="@routes.FeedController.resource(c.memeID, c.num)" /> }
                                    case tt if ContentTypes.isVideo(tt) => {
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <video controls  class="embed-responsive-item">
                                                <source src="@routes.FeedController.resource(c.memeID, c.num)" type="video/mp4">
                                            </video>
                                        </div>
                                    }
                                    case tt if ContentTypes.isAudio(tt) => {
                                        <audio controls>
                                            <source src="@routes.FeedController.resource(c.memeID, c.num)" type="audio/mpeg">
                                        </audio>
                                    }
                                    case _ => {}
                                }
                            }
                            <div class="card-footer text-muted">
                                Author: <a href="@routes.UserController.user(meme.author)">@{meme.login}</a>
                                    <br>
                                Created at: @{meme.timestamp}
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </body>
</html>