@(msg: String)

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("libs/css/bootstrap.min.css")'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("css/meme-factory.css")'>
        <title>Meme Factory</title>
    </head>
    <body>
        <div class="navbar-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img class="navbar-brand-image" src='@routes.Assets.versioned("images/brand-logo.png")' alt="Meme-factory logo">
    
                    <div class="navbar-brand-slogan">
                        <h1>Meme Factory</h1>
                        <span class="navbar-brand-slogan--text">Inspire. Create. Post.</span>
                    </div>
                </a>
    
                <form class="form-inline navbar-search-form">
                    <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="search-btn" type="submit">Search</button>
                </form>
                
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item user-nav-item">
                            <div class="user-panel">
                                <div class="user-image">
                                    <img src='@routes.Assets.versioned("images/unknown-user.png")' width="128" height="128" />
                                </div>
                                <div class="user-menu">
                                    <ul class="user-actions-list">
                                        <li><a class="user-panel-link" href="@routes.UserController.login()" aria-selected="false">Login</a></li>
                                        <li><a class="user-panel-link" href="@routes.UserController.register()" aria-selected="false">Register</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.hottest()">Hottest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.latest()">Latest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.createPost()">New Post</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline navbar-search-form">
                                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                                <button class="search-btn" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            <form class="form-signin" action="/user/loginForm" method="post" role="form">
                <h2 class="form-signin-heading">@msg</h2>
                
                <div class="login-field">
                    <i class="fas fa-user"></i>
                    <label for="loginField" class="sr-only">Email address</label>
                    <input type="text" id="loginField" name="loginField" class="form-control" placeholder="Login" required autofocus>
                </div>

                <div class="password-field">
                    <i class="fas fa-key"></i>
                    <label for="passwdField" class="sr-only">Password</label>
                    <input type="password" id="passwdField" name="passwdField" class="form-control" placeholder="Password" required>
                </div>
        
                <input class="btn btn-lg btn-primary btn-block btn-login" type="submit" value="Sign in">
            </form>

            <hr class="encourage-to-sign-up-hr">

            <div class="encourage-to-sign-up">Don't have an account?</div>
            <a href="/user/register" class="btn btn-info btn-lg btn-signup" value="Sign Up" style="float: right;">Sign Up</a>
        </div>

        <footer class="meme-footer">
            <div class="footer-inner-wrapper">
                <div class="footer-brand">
                    <a class="footer-brand-link" href="#">
                        <img class="footer-brand-link-image" src='@routes.Assets.versioned("images/brand-logo.png")' alt="Meme-factory logo">
                    
                        <div class="footer-brand-link-slogan">
                            <span class="footer-brand-link-slogan--text">Inspire. Create. Post.</span>
                        </div>
                    </a>
                </div>

                <hr>

                <div class="authors-section">
                    <div class="title">About Authors</div>

                    <div class="authors-info">
                        <div class="author-one">
                            <div class="image">
                                <img src='@routes.Assets.versioned("images/author-logo.jpg")' alt="First author">
                            </div>
                            <div class="info">
                                <h4>Alexander Liubymov</h4>
                                <div>Back-end "Scala" Ninja</div>
                            </div>
                        </div>
                      
                        <div class="author-two">
                            <div class="image">
                                <img src='@routes.Assets.versioned("images/author-logo1.jpg")' alt="Second author">
                            </div>
                            <div class="info">
                                <h4>Vadym Hrynishyn</h4>
                                <div>Front-end "JS" Killa</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">&copy; 2018 Alexander Liubymov &amp; Vadym Hrynishyn <br> All Rights Reserved</div>
        </footer>

        <script src='@routes.Assets.versioned("libs/js/jquery-3.3.1.min.js")'></script>
        <script src='@routes.Assets.versioned("libs/js/bootstrap.min.js")'></script>
        <script src='@routes.Assets.versioned("js/meme-factory.js")'></script>
    </body>
</html>
