@(meme: MemeItemWithComments, user: Option[UserWithId])

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("libs/css/bootstrap.min.css")'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("css/meme-factory.css")'>
        <title>Meme Factory</title>
    </head>
    <body>
        <div class="navbar-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img class="navbar-brand-image" src='@routes.Assets.versioned("images/brand-logo.png")' alt="Meme-factory logo">
            
                    <div class="navbar-brand-slogan">
                        <h1>Meme Factory</h1>
                        <span class="navbar-brand-slogan--text">Inspire. Create. Post.</span>
                    </div>
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item user-nav-item">
                            <div class="user-panel" id="sidebar" role="navigation">
                                @user match {
                                    case Some(u) => {
                                        <div class="user-image">
                                            <img src="@routes.UserController.avatarResource(u.id)" width="128" height="128" />
                                        </div>
                                        <div class="user-menu">
                                            <div class="user-login">@{u.login}</div>
                                            <ul class="user-actions-list">
                                                <li><a class="user-panel-link" href="@routes.UserController.update()">Settings</a></li>
                                                <li><a class="user-panel-link" href="@routes.UserController.signOut()">SignOut</a></li>
                                            </ul>
                                        </div>
                                    } 
                                    
                                    case None => {
                                        <div class="user-image">
                                            <img src='@routes.Assets.versioned("images/unknown-user.png")' width="128" height="128" />
                                        </div>
                                        <div class="user-menu">
                                            <ul class="user-actions-list">
                                                <li><a class="user-panel-link"  href="@routes.UserController.login()" aria-selected="false">Login</a></li>
                                                <li><a class="user-panel-link"  href="@routes.UserController.register()" aria-selected="false">Register</a></li>
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.hottest(1)">Hottest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.latest(1)">Latest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.FeedController.createPost()">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.ConverterController.converter()">Converter</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline navbar-search-form" action="/search">
                                <input class="form-control mr-sm-2 search-input" id="target" name="target" type="text" placeholder="Search" aria-label="Search">
                                <input id="page" name="page" value="1" type="hidden">
                                <button class="search-btn" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container container-with-votes">
            <div class="card">
                <div class="card-body">
                    <div class="voting-form" id="votingForm">
                        <button id="upVotePost" class="up-vote-post" name="+" formaction="@routes.FeedController.upVotePost(meme.memeItem.id)">
                            <i class="fas fa-chevron-up"></i>
                        </button>
                    
                        <span class="points">
                            <span class="points-number">@{meme.memeItem.points}</span>
                        </span>
                    
                        <button id="downVotePost" class="down-vote-post" name="-" formaction="@routes.FeedController.downVotePost(meme.memeItem.id)">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </div>
                    
                    <div class="card-header">
                        <h5 class="card-title">@{ meme.memeItem.title }</h5>
                    </div>

                    @for(c <- meme.memeItem.content.sortWith(_.num < _.num)) {
                        @c.contentType match {
                            case "TEXT" => { <p class="card-text"> @{ c.content } </p> }
                            case "HTML" => { @{ c.content } }
                            case tt if ContentTypes.isImage(tt) => { <img class="card-img" src="@routes.FeedController.resource(c.memeID, c.num)" /> }
                            case tt if ContentTypes.isVideo(tt) => {
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video controls  class="embed-responsive-item">
                                        <source src="@routes.FeedController.resource(c.memeID, c.num)" type="video/mp4">
                                    </video>
                                </div>
                            }
                            case tt if ContentTypes.isAudio(tt) => {
                                <audio controls>
                                    <source src="@routes.FeedController.resource(c.memeID, c.num)" type="audio/mpeg">
                                </audio>
                            }
                            case _ => {}
                        }
                    }
                    <div class="card-footer text-muted">
                        <div class="author-of-post">
                            <span>Author:</span>
                            <a href="@routes.UserController.user(meme.memeItem.author)">@{meme.memeItem.login}</a>
                        </div>
                        <div class="created-at">
                            <span>Created at:</span>
                            <span class="creating-time">@{meme.memeItem.timestamp}</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="comments-wrapper">
                @for(comment <- meme.comments) {
                    <div class="card">
                        <div class="card-body">
                            <div class="voting-form" id="votingForm">
                                <button id="upVotePost" class="up-vote-post" name="+" formaction="@routes.FeedController.upVoteComment(comment.id)">
                                    <i class="fas fa-chevron-up"></i>
                                </button>
                            
                                <span class="points">
                                    <span class="points-number">@{comment.points}</span>
                                </span>
                            
                                <button id="downVotePost" class="down-vote-post" name="-" formaction="@routes.FeedController.downVoteComment(comment.id)">
                                    <i class="fas fa-chevron-down"></i>
                                </button>
                            </div>
                            
                            <div class="card-header">
                                <h5 class="card-title">Author: <a href="@routes.UserController.user(comment.author)">@{comment.login}</a></h5>
                            </div>
                            
                            <p class="card-text"> @{ comment.comment } </p>
                            
                            <div class="card-footer text-muted">
                                <span>Created at:</span>
                                <span class="creating-time">@{comment.timestamp}</span> 
                            </div>
                        </div>
                    </div>
                }
            </div>
            
            <form class="form-comment" action="@routes.FeedController.newCommentForm(meme.memeItem.id)" method="post" role="form">
                <div class="form-group">
                    <div id="textField">
                        <label for="textField">Write a comment:</label>
                        <textarea class="form-control" name="textField" id="textField" rows="3"></textarea>
                    </div>
                </div>
                <input class="btn btn-lg btn-block btn-create-comment" type="submit" value="Create">
            </form>
        </div>

        <footer class="meme-footer">
            <div class="footer-inner-wrapper">
                <div class="footer-brand">
                    <a class="footer-brand-link" href="#">
                        <img class="footer-brand-link-image" src='@routes.Assets.versioned("images/brand-logo.png")' alt="Meme-factory logo">
        
                        <div class="footer-brand-link-slogan">
                            <span class="footer-brand-link-slogan--text">Inspire. Create. Post.</span>
                        </div>
                    </a>
                </div>
        
                <hr>
        
                <div class="authors-section">
                    <div class="title">About Authors</div>
        
                    <div class="authors-info">
                        <div class="author-one">
                            <div class="image">
                                <img src='@routes.Assets.versioned("images/author-logo.jpg")' alt="First author">
                            </div>
                            <div class="info">
                                <h4>Alexander Liubymov</h4>
                                <div>Back-end "Scala" Ninja</div>
                            </div>
                        </div>
        
                        <div class="author-two">
                            <div class="image">
                                <img src='@routes.Assets.versioned("images/author-logo1.jpg")' alt="Second author">
                            </div>
                            <div class="info">
                                <h4>Vadym Hrynishyn</h4>
                                <div>Front-end "JS" Killa</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-copyright">&copy; 2018 Alexander Liubymov &amp; Vadym Hrynishyn <br> All Rights Reserved</div>
        </footer>

        <script src='@routes.Assets.versioned("libs/js/jquery-3.3.1.min.js")'></script>
        <script src='@routes.Assets.versioned("libs/js/bootstrap.min.js")'></script>
        <script src='@routes.Assets.versioned("js/meme-factory.js")'></script>
    </body>
</html>