@(user: UserWithId)

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("libs/css/bootstrap.min.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("css/meme-factory.min.css")'>
        <title>Meme Factory</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Meme Factory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.hottest()">Hottest</a></li>
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.latest()">Latest</a></li>
                    <li class="nav-item"><a class="nav-link" href="@routes.FeedController.createPost()">New Post</a></li>
                </ul>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        
        </nav>

        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                    <p>@{user.login}</p>
                    <br>
                    <img src="@routes.UserController.avatarResource(user.id)" width="128" height="128"/>
                    <br>
                    <a href="@routes.UserController.update()">Settings</a>
                    <br>
                    <a href="@routes.UserController.signOut()">SignOut</a>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <div class="container">
                        <form class="form-signup" action="/user/updateForm" method="post" role="form" enctype="multipart/form-data">
                            <h2 class="form-signin-heading">Please Update User Profile</h2>
                            <label for="loginField" class="sr-only">Email address</label>
                            <input type="text" id="loginField" name="loginField" class="form-control" placeholder="Login" value="@{user.login}" required autofocus>

                            <label for="passwordField" class="sr-only">Password</label>
                            <input type="password" id="passwordField" name="passwordField" class="form-control" placeholder="Password" value="@{user.pass}" required>

                            <label for="firstNameField" class="sr-only">First Name</label>
                            <input type="text" id="firstNameField" name="firstNameField" class="form-control" placeholder="First Name" value="@{user.name}">

                            <label for="surnameField" class="sr-only">Surname</label>
                            <input type="text" id="surnameField" name="surnameField" class="form-control" placeholder="Surname" value="@{user.surname}">

                            <label for="avatar">Attach user profile image</label>
                            <input type="file" accept="image/*" name="avatar" class="form-control-file" id="avatar" aria-describedby="fileHelp">

                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
